<%- include("partials/header") -%>
<section id="body">
  <div class="container-fluid">
    <div class="row">
      <% animals.forEach(animal => { %> <% if (animal.photo[0] === undefined) {
      %> <% } else { %>
      <div class="card col-lg-4 col-md-6 col-sm-12" id="<%= animal.id %>">
        <img src="<%= animal.photo[0].full %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= animal.name %></h5>
          <div style="text-align:center" class="row">
              <h6 style="padding-right: 0; text-align: right;" class="col-5"><%= animal.age %></h6>
              <h6 style="padding: 0;" class="col-2">|</h6>
              <h6 style="padding-left: 0; text-align: left;" class="col-5"><%= animal.sex %></h6>
          </div>
          <h6>
            <%= animal.contact.address.city %>, <%= animal.contact.address.state
            %>
          </h6>
          <!-- <p class="card-text"><%= animal.desc %></p> -->
          <form action="/adopt/<%= animal.id %>" method="post">
            <button
              class="btn btn-lg btn-light"
              type="submit"
            >
              Learn More
            </button>
          </form>
        </div>
      </div>
      <% } %> <% }) %>
    </div>
    
    <form action="<%= pagePath %>" method="post">
      <% if(pagenumber === 1) { %>
      <button style="border: none;" type="submit">Next Page<i class="fas fa-arrow-right"></i></button>
      <% } else { %>
      <button style="border: none;" type="submit" name="previous"><i class="fas fa-arrow-left"></i>Previous Page</button>
      <button style="border: none;" type="submit" name="next">Next Page<i class="fas fa-arrow-right"></i></button>
      <% } %>
    </form>
  </div>
</section>

<%- include("partials/footer") -%>
